@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-black-webfont.woff')
          format('woff');
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: #CFEED8;
    font-size: 25px;
}
.wrapped {
    margin: auto;
    width: 60%;
}
h2 {
    color:#002519;
} 
img {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
#Competitor p {
    text-indent: 0px;
}
#menu {
    position: fixed;
    left: 0;
    border: 3px solid #73AD21;
}
#menu ul {
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding:0px;
    /* width: 10%; */
    list-style-type: none;
    background-color: #FFE168;
    border: 1px solid #555;
  }
  #menu li a {
    display: block;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
  }
  #menu li {
    text-align: center;
    border-bottom: 1px solid rgb(143, 118, 18);
    padding: 0px;
  }
  #menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .active {
    background-color: #D0A700;
    color: white;
  }
#coverpage {
    background-color: #86C98A;
    text-align: center;
    color:#004304;
    border: 3px solid #73AD21;
    padding: 10px;
    border-radius: 25px;
    font-family: "Times New Roman", Times, serif;
}
#coverpage h1 {
    color:#105E28;
    font-family: 'raleway';
}
#Marking , #Overview, #Background, #Competitor , #Features, #Milestones, #Design, #Data, #API, #Resources {
    border: 3px solid #73AD21;
    background-color: #A0D9B1;
    border-radius: 25px;
    padding: 30px;
    margin:20px 0px;
}
#footer {
    text-align: center;
}
#name {
    padding-top:300px;
}
/* Table */
#MarkingJustification {
    border: 2px solid #00A053;
    border-collapse: collapse;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
#MarkingJustification td, #MarkingJustification th {
    border: 1px solid rgb(191, 34, 139);
    padding: 8px;

  }
#MarkingJustification tr:nth-child(even){
    background-color: #A4D6B3;
}
#MarkingJustification tr:nth-child(odd){
    background-color: #9EE8B4;
}

#MarkingJustification tr:hover {background-color: #D5E5D0;}
/* make table header cells have a darker background colour and a different font colour */
#MarkingJustification th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2E8A11;
    color: white;
  }
  /* end table */
#text-bold {
    font-weight: bolder;
}
#milestoensRelease, #competitornumber li {
    font-weight: bolder;
    color:#002519;
}

#competitorUnorderlist li {
    color: black;
    font-weight: normal;
    padding: 5px 0px;
}
p {
    /* text-indent: 30px; */
}
#indent {
    margin-left: 25px;
}
#featureOl li{
    padding-top: 10px;
    padding-bottom: 10px;
}
#imageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
figcaption {
    text-align: center;
    /* padding: 10px; */
    margin-bottom: 13px; 

    font-style: italic;
    font-size:20px;
}

ul li, ol li {
    padding-top:5px;
    padding-bottom: 5px;
}
#text-light {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom:10px;
}
#noIntent {
    text-indent: 0px;
}

